<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- ApplicationContext 를 만드는데 필요한 설정파일들 -->
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
  </context-param>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>com.metamong.AppConfig</param-value>
  </context-param>

  <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>com.metamong.MyFilter</filter-class>
  </filter>

  <!-- url-pattern, servlet-name 중 택 1 -->
  <!-- 여러 개의 서블릿에 적용하려면 .. url-pattern -->
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <servlet-name>hello</servlet-name>
  </filter-mapping>

  <listener>
    <!--  7강.  -->
    <!--    <listener-class>com.metamong.MyListener</listener-class>-->

    <!--
      * 8강. Comment
      * 1. ApplicationContext 를 servlet 의 생명 주기에 맞춰 바인딩.
      * 2. ApplicationContext 를 웹 어플리케이션 등록된 서블릿들이 사용할 수 있도록
        ServletContext 에 등록.
      * 3. Servlet 종료 시점에 ApplicationContext 제거
    -->
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.metamong.HelloServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>
