<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event List</title>
</head>
<body>
    <a th:href="@{/events/form}">Create New Event</a>
    <div th:unless="${#lists.isEmpty(eventList)}">
        <ul th:each="event: ${eventList}">
            <li>
                <span th:text="${event.Name}">Event Name</span>
                <span th:text="${event.Limit}">Event Limit</span>
            </li>
        </ul>
    </div>
</body>
</html>